html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow: hidden;
	scrollbar-color: #888;
	scrollbar-width: 7px;
}

::-moz-scrollbar-thumb {
	background: #888;
	border-radius: 100px;
}

::-moz-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-moz-scrollbar {
	width: 7px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
